<table>
    <tr>
        <td><a href="https://lucasho22.github.io/flask_portfolio/">Home</a></td>
        <td><a href="https://lucasho22.github.io/flask_portfolio/tpt">TPT Notes and Actions</a></td>
        <td><a href="https://lucasho22.github.io/flask_portfolio/datastructuresproject">Data Structures Plan</a></td>
        <td><a href="https://lucasho22.github.io/flask_portfolio/createtask">Create Task</a></td>
        <td><a href="https://lucasho22.github.io/flask_portfolio/quizcorrections">Quiz Corrections</a></td>
        <td><a href="https://lucasho22.github.io/flask_portfolio/others">Others</a></td>
    </tr>
</table>
<hr>
